.Container {
  margin-top: -4%;
  margin-left: 49%;
  width: 50%;
}

.Result {
  border: solid 1px gray;
  background-color: gray;
  color: white;
  padding: 3% 3% 3% 0;
  font-size: 40px;
  text-align: right;
}

.Button {
  border: solid 1px gray;
  width: 25%;
  padding: 5% 0;
  font-size: 40px;
}

.Norm {
  background-color: white;
}

.BoxColor {
  background-color: orange;
}

.Zero {
  border: solid 1px gray;
  width: 50%;
  padding: 5% 0;
  font-size: 40px;
}
